USE [HotelSyncDB]
GO
/****** Object:  Table [dbo].[SyncErrors]    Script Date: 18/3/2026 22:41:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SyncErrors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SyncRecordId] [int] NULL,
	[ErrorType] [nvarchar](100) NULL,
	[AttemptNumber] [int] NULL,
	[ErrorDetail] [nvarchar](max) NULL,
	[OccurredAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SyncRecords]    Script Date: 18/3/2026 22:41:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SyncRecords](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OperaResId] [nvarchar](100) NULL,
	[HubSpotDealId] [nvarchar](100) NULL,
	[HotelCode] [nvarchar](50) NULL,
	[SyncStatus] [nvarchar](50) NULL,
	[LastAttempt] [datetime2](7) NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SyncRecords] ON 

INSERT [dbo].[SyncRecords] ([Id], [OperaResId], [HubSpotDealId], [HotelCode], [SyncStatus], [LastAttempt], [ErrorMessage], [CreatedAt], [UpdatedAt]) VALUES (1, N'RES001', NULL, N'ARG_A', N'SUCCESS', CAST(N'2026-03-19T04:18:44.8100000' AS DateTime2), NULL, CAST(N'2026-03-19T04:18:44.8100000' AS DateTime2), CAST(N'2026-03-19T04:18:44.8333333' AS DateTime2))
INSERT [dbo].[SyncRecords] ([Id], [OperaResId], [HubSpotDealId], [HotelCode], [SyncStatus], [LastAttempt], [ErrorMessage], [CreatedAt], [UpdatedAt]) VALUES (2, N'RES002', NULL, N'ARG_A', N'SUCCESS', CAST(N'2026-03-19T04:23:00.8866667' AS DateTime2), NULL, CAST(N'2026-03-19T04:23:00.8866667' AS DateTime2), CAST(N'2026-03-19T04:23:00.8900000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[SyncRecords] OFF
GO
ALTER TABLE [dbo].[SyncErrors] ADD  DEFAULT (getutcdate()) FOR [OccurredAt]
GO
ALTER TABLE [dbo].[SyncRecords] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SyncRecords] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[SyncErrors]  WITH CHECK ADD FOREIGN KEY([SyncRecordId])
REFERENCES [dbo].[SyncRecords] ([Id])
GO
